# eclipse
bin
*.launch
.metadata
.classpath
.project

# gradle
build
gradle
.gradle
build.gradle
gradle.bat
gradlew
gradle.properties


# other
run
mcmodsrepo
.settings
# Files from Forge MDK
forge*changelog.txt
